<div appCollapseOnClick #cp="collapsible" class="card card-strong disable-text-selection">
  <i *ngIf="!cp.isCollapsed" class="material-icons">arrow_drop_down</i>
  <i *ngIf="cp.isCollapsed" class="material-icons">arrow_drop_up</i>
  <div *ngIf="!cp.isCollapsed" class="collapsible-section">
    This page section is collapsible, double click it will collapse or expand
  </div>
</div>

<!--<div class="tab-container" appShowOneContainer>-->
  <!--<ul class="tab-buttons">-->
    <!--<li appShowOneTrigger="superman" [active]="true">Superman</li>-->
    <!--<li appShowOneTrigger="batman">Batman</li>-->
    <!--<li appShowOneTrigger="flash">Flash</li>-->
  <!--</ul>-->

  <!--<div class="tab-panel" appShowOne="superman" [active]="true">-->
    <!--<div class="logo superman"></div>-->
  <!--</div>-->
  <!--<div class="tab-panel" appShowOne="batman">-->
    <!--<div class="logo batman"></div>-->
  <!--</div>-->
  <!--<div class="tab-panel" appShowOne="flash">-->
    <!--<div class="logo flash"></div>-->
  <!--</div>-->
<!--</div>-->

<!--<app-ng-content>-->
  <!--<p #insideNgContent>Inside ng-content</p>-->
<!--</app-ng-content>-->
