<div class="app-container" >
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a routerLinkActive="active" class="navbar-brand" routerLink="/main">Main</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/contentChildren">contentChildren <span class="sr-only">(current)</span></a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/pipes">Pipes</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/nav">Nav</a></li>
          <!--<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="[{ outlets: { 'playlist': ['playlist'] } }]">Playlist</a></li>-->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/forms">Forms</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/drag">Drag and Drop</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/rating">Rating</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <router-outlet></router-outlet>
  <div class="list">
    <router-outlet name="playlist"></router-outlet>
  </div>
</div>
